/* Espaço dedicado à newsletter */
.newsletter-section {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    padding: 40px 30px; /* Espaçamento vertical */
    background-color: #f1f1f1; /* Fundo para separação visual */
    background: linear-gradient(0deg, rgba(134, 134, 255, 0.61) 0%, rgba(242,242,242,0.53125) 68%, rgba(245,245,245,0.8645833333333334) 86%, rgba(255,255,255,0.7189250700280112) 100%);
  }

.newsletter {
    display: flex;
    flex-direction: column;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
  }
  
  .newsletter-title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #fff;
  }
  
  .newsletter-description {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(209 213 219);
  }
  
  .newsletter div {
    display: flex;
    max-width: 28rem;
    margin-top: 1rem;
    column-gap: 0.5rem;
  }
  
  .newsletter div input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255 255 255 );
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
    flex: 1 1 auto;
  }
  
  .newsletter div input::placeholder {
    color: rgb(216, 212, 212);
  }
  
  .newsletter div input:focus {
    border: 1px solid rgb(99 102 241);
  }
  
  .newsletter div button {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: rgb(99 102 241);
    border-radius: 0.375rem;
    border: none;
    outline: none;
  }

  .newsletter div button:hover {
    box-shadow: rgb(70, 73, 236) 0px 0px 15px;
  }
  .newsletter div button:active {
    transform: scale(2);
  }