/* Sessão de Avaliação */
.avaliacao-section {
    padding: 40px 20px;
    background: #f8f8f8;
    text-align: center;
  }
  
  .avaliacao-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #444;
    font-weight: bold;
  }
  
  .avaliacao-logo {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px; /* Centraliza e adiciona espaçamento */
    display: block;
    object-fit: contain; /* Garante que a imagem se ajuste sem distorções */
    border: none; /* Remove qualquer borda */
    border-radius: 0; /* Remove o arredondamento */
}


  .avaliacao-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .feedback-card {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    padding: 20px;
    text-align: left;
    width: 100%;
    max-width: 250px;
  }
  
  .avaliacao-card {
    position: relative;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    text-align: center;
    width: 100%;
    max-width: 250px;
  }

  .feedback-card h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .feedback-form input, 
  .feedback-form select, 
  .feedback-form textarea, 
  .feedback-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .feedback-form button {
    background: rgb(63, 16, 202);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .feedback-form button:hover {
    background: #6a38ff;
  }
  
  .avaliacao-card h4 {
    font-size: 1rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .avaliacao-card p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
  }
  
  /* by myself */
.avaliacao-card img {
    position: absolute;
    top: -65px; /* Move a logo mais para cima */
    right: -45px; /* Move a logo mais para a direita */
    width: 100px; /* Aumenta o tamanho da logo */
    height: auto; /* Mantém a proporção da logo */
    object-fit: contain; /* Evita distorções na imagem */
    z-index: 999; /* Garante que a logo fique visível acima de outros elementos */
    pointer-events: none; /* Evita interferência da logo em cliques ou interações com outros elementos */

  }