/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    color: #333;
    cursor: url('../media/mouse.png'), auto;
}

/* Barra superior */
.top-bar {
    background: linear-gradient(to right, #ab78fc, #590fe4);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

/* Cabeçalho */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(66,21,78,255);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;

    /*TRYING*/
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(66,21,78,255);
    border: 2px solid rgba(66,21,78,255);
}

.main-nav .logo {
    height: 70px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #9226f7;
}

/* Menu suspenso */
.menu {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    width: fit-content;
    height: fit-content;

    list-style: none;

    /* changes:*/
    z-index: 1000;
    position: absolute;
    align-self: center;
    left: 45%; /* Centraliza horzontalmente */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px); /* Move o menu um pouco para cima inicialmente */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0s linear 0.5s; /* Suaviza a opacidade e a posição */
}
 .menu.fixed{
    display: flex;
    position: fixed;
    left: 45%;
    top: 0px; /* Ajuste o valor aqui conforme necessário */
    
    border-radius: 0 0 20px 20px; /* Ajusta a borda para parecer encaixado no topo */

    width: auto; /* Ajusta para a largura total da página */
    padding: 10px 20px; /* Ajuste o padding ao ficar no topo */

    background-color: #fffefe6b;

    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Retorna o menu para a posição normal */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Remove atraso de visibilidade */
}

  .menu a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .menu .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 36px;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6401a7;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .link svg {
    width: 14px;
    height: 14px;
    fill: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .item {
    position: relative;
  }
  
  .menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #cccccc;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;

    background-color: #ffffffcb;

  }
  
  .menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-top: transparent;
    border-color: #6401a7;
  }
  
  .menu .item:hover .link {
    color: #ffffff;
    border-radius: 16px 16px 0 0;
  }
  
  .menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .menu .item:hover .link svg {
    fill: #ffffff;
    transform: rotate(-180deg);
  }
  
  .submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link {
    display: block;
    padding: 12px 24px;
    width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
  }
  
  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #6401a7;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .submenu .submenu-link:hover {
    color: #ffffff;
  }
  

/* Seção hero com vídeo de fundo */
.hero {
  position: relative;
  height: 90vh; /* Ajustável conforme necessário */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden; /* Garante que os elementos não saiam da área */
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que o vídeo preencha a área */
  z-index: -2; /* Mantém o vídeo abaixo da camada de transparência */
}

/* Camada de transparência */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486); /* Transparência preta */
  z-index: -1; /* Coloca a camada acima do vídeo, mas atrás do texto */
}

.hero h1 {
  padding: 0 50px;  
  font-family: 'Bodoni MT', 'Bodoni 72', Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    color: white;
    font-size: 5em;
    text-align: left;
    position: absolute;
    bottom: 10%;
    z-index: 1;
    margin: 0 auto;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}


.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  background-color: rgb(217,215,215);
  background: radial-gradient(circle, rgba(217,215,215,1) 0%, rgba(242,242,242,1) 22%, rgba(255,255,255,1) 52%);

  margin-bottom: 50px;
  margin-top: -40px; /* Ajuste do espaço entre a info e o vídeo */
  z-index: 0; /* Garante que não sobreponha outras seções */
}

.info-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 150px;
  align-items: flex-start;
  padding: 0 20px; /* Espaçamento das bordas laterais */

}

.info-text {
  flex: 2;
}

.info-text h2 {
  font-size: 2.5em;
  color: rgba(66, 21, 78, 255);
  margin-bottom: 15px;
}

.info-text p {
  font-size: 1.5em;
  line-height: 1.6;
  color: #333;
}

/* CUPOM GELEIA */
.foodCard {
  height: 350px;
  width: 250px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
  outline: 2px solid rgb(48, 48, 48);
  user-select: none;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.Discount {
  position: absolute;
  left: 0;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  color: rgb(189, 189, 189);
  background-color: rgb(46, 46, 46);
  border-radius: 15px 0px 15px 0px;
  width: auto;
  height: auto;
  font-style: italic;
}

.Like {
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  right: 0%;
  font-size: 15px;
  padding: 8px;
  color: rgb(210, 210, 210);
  background-color: rgb(48, 48, 48);
  border-radius: 0px 20px 0px 15px;
  width: 40px;
  height: 35px;
  cursor: pointer;
}

.Like > svg {
  transition: all 0.3s ease;
}

.Like:hover > svg {
  fill: rgb(190, 0, 0);
}

.Like:focus {
  outline: none;
}

.imageContainer {
  padding: 5px;
  height: 60%;
  width: 100%;
  padding-top: 35px;
  border-radius: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.imageContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.foodTitle {
  color: rgb(32, 32, 32);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  font-weight: 800;
  padding-top: 5px;
}

.priceAndButton {
  position: absolute;
  bottom: 0;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.Price {
  font-weight: 600;
  padding-left: 5px;
  color: rgb(0, 0, 0);
  font-variant-numeric: tabular-nums;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  padding: 0px 15px;
  height: 25px;
  border: none;
  background-color: rgb(116, 219, 160);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s ease;
  opacity: 100%;
  font-size: 15px;
}

.button:hover {
  box-shadow: rgb(116, 219, 160) 0px 0px 15px;
}

.button:active {
  transform: scale(1);
}


/* Rodapé */
.contato {
    background: rgba(66,21,78,255);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}
