/* Estilo geral do formulário */
#recommend-form {
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Título do formulário */
#recommend-form h2 {
  font-size: 4rem;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* Estilo das labels */
#recommend-form label {
  display: block;
  margin: 10px 0;
  font-size: 1.1rem;
  color: #555;
}

/* Estilo dos campos de seleção */
#recommend-form select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

/* Estilo para hover nos campos de seleção */
#recommend-form select:hover {
  border-color: #fc6e51; /* Cor suave de destaque */
}


/* Resultado da recomendação */
#recommendation-result {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

#recommendation-result ul {
  list-style: none;
  padding: 0;
}

#recommendation-result li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
  color: #333;
}
