/*TITULO restaurantes*/
.image-container {
    position: relative;
    width: 100%;
    height: 90vh; /* Faz a imagem ocupar a altura total da tela */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem seja ajustada proporcionalmente */
}

.overlay-praca {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411); /* Transparência escura */
    z-index: 1;
}

.image-container h1 {
    font-family: 'Bodoni MT', 'Bodoni 72', Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6rem; /* Título maior */
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Sombras mais fortes */
    text-align: center;
    margin: 0;
    z-index: 2; /* Garante que o título fique acima da transparência */
}

/*restaurantes*/

.gastronomia-section {
    padding: 0; /* Remove o padding adicional da seção */
    margin: 0;
    margin-top: 50px;
}

.gastronomia-section h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    background: #fff;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    padding: 15px;
    text-align: center;
}

.culinaria {
    font-size: 0.9rem;
    color: #777;
}

.nome {
    font-size: 1.1rem;
    margin-top: 5px;
    color: #333;
}

.overlay-rest {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 15px;
}

.card:hover .overlay-rest {
    opacity: 1;
}

.info-button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.info-button:hover {
    background: #0056b3;
}
